* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  box-sizing: border-box;
  text-shadow: #000;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("assets/excel--ncia-no-atendimento-ao-cliente--com-foco-no-trc1697652282.png");
  background-size: cover;
  background-position: center;
 }
